html
  head
    title= "Recibos"
  body
    h1= "Lista Alumnos"
    br
    table
      tr
        th= 'Nombre'
        th= 'Apellidos'
        th= 'Codigo'
        th= 'Importe'
        th= 'Concepto'

      for item in aux
        tr
          td= item.name
          td= item.surname
          td= item.code
          td= item.import
          td= item.reason
    
    form(action="/genRecibos" method="post")
        input(type="submit" value="Confirmar")